body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.note {
  border: 1px solid black;
  font-size: 3rem;
  text-align: center;
  width: 6.25rem;
  height: 7.5rem;
  line-height: 7.5rem;
  margin-right: 0.5rem;
}

.musical-notation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
